pandas>=1.5
numpy
scikit-learn
xgboost
lightgbm
joblib
pyarrow
fastapi
uvicorn
streamlit
matplotlib
seaborn
networkx
node2vec
shap
torch
torch-geometric
leidenalg
igraph
plotly
dash
dash-bootstrap-components
kaleido
python-multipart
pydantic
